<div class="row d-flex justify-content-center">
    <div class="sticky-navbar">
        <nav class="navbar navbar-light bg-light navbar-expand-sm height-full">
            <div class="container">
                <a class="navbar-brand m-5 mt-0 mb-0" href="#">
                    <img class="p-2" src="../../assets/two.png">
                    <img class="LA" src="../../assets/climb.png">
                </a>
         
                <div class="collapse navbar-collapse m-5 mt-0 mb-0" id="navbarContent">
                    <ul class="navbar-nav navigation">
                        <p>
                            Cras scelerisque id quam sed digissim Pellentesque urna nunc, gravita quis hendrerit ac, 
                            tristique ut quam. Vivamus suscipit dignissim tortor nec congue.
                        </p>
                    </ul>
               </div>
            </div>   
        </nav>
    </div>
</div>