<div class="banner-background row d-flex justify-content-center banner-padding">
    <div class="sticky-navbar">
        <nav class="navbar navbar-light bg-light navbar-expand-sm height-full">
            <div class="container p-5 pt-0">
                <a class="navbar-brand m-5 mt-0" href="#">
                    <img class="p-2" src="../../assets/avatar.png">
                </a>
         
                <div class="collapse navbar-collapse m-5 mt-0" id="navbarContent">
                    <ul class="navbar-nav navigation">
                        <li class="nav-item">
                            <a class="nav-link decoration" href='#'>01. HISTORY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link decoration" href='#'>02. TEAM</a>
                        </li>
                    </ul>
               </div>
            </div>
            
        </nav>
    </div>

    <div class="d-flex justify-content-center padding">
        <img class="background" src="../../assets/mountains.png">
    </div>
</div>